body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    font-style: italic;
}

h2 {
    text-align: center;
    color: darkcyan;
}

p {
    margin-bottom: 20px;
}

a {
    color: #129c00;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    margin-top: 20px;
}

.inputBox {
    position: relative;
    margin-bottom: 20px;
}
input,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    position: absolute;
    top: -15px;
    left: 5px;
    pointer-events: none;
    transition: 0.3s;
    font-size: 12px;
    color: #129c00;
}

input:read-only,
textarea:read-only {
    background-color: #f4f4f4; 
}


input[type="submit"] {
    padding: 10px;
    background: #129c00;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #0f7900;
} 